h1 {color: white

}
body{
    background-image:url("file:///C:/Users/LuisHenriquez/Desktop/1r.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}