h1 {color:black;
}

body{
    background-image:url("Imagenes/Fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 200px;
    background-attachment: fixed;
}