h1 {color: white
}

body{
    background-image:url("http://2.bp.blogspot.com/-NDATE_GIMtw/Uz-sEj1eYEI/AAAAAAAAHwM/WpTk7H-tos0/s1600/infantil-osito.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}